
<div>
  {% if user.is_anonymous %}
  <a href="{% url 'login' %}">Login</a>
  <a href="register/">Create an account</a>
  {% else %}
  {{ user }}
  <a href="{% url 'logout' %}">Logout</a>
  {% endif %}
</div>

<table>
    <tr>
        <th id="c1">Title</th>
        <th id="c2">Average Rating</th>
    </tr>
    {% for movie in top_twenty %}
    <tr>
        <td headers="c1"><a href='{% url 'ratingbase:movieDetail' movie.movie_id %}'>{{movie}}</a></td>
        <td headers="c2">{{movie.avg_rating}}</td>
    </tr>

{% endfor %}

</table>
