{% extends "ratingbase/base.html" %}

{% block content %}

<h2>{{movie}}</h2>
<p>Average rating: {{movie.avg_rating}}</p>

{% if user.is_authenticated and not rated %}
    {% if rating_form.errors %}
        {% for field in rating_form %}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

<h4>Rate this movie:</h4>
    <form id="user_form" method="post" action="">

    {% csrf_token %}

    {{ rating_form.as_p }}

    <input type="submit" name="submit" value="Submit" />

{% endif %}


<table>
    <tr>
        <th id="c1">User ID</th>
        <th id="c2">Rating</th>
    </tr>

{% for rating in movie_ratings %}
    <tr>
        <td headers="c1"><a href='{% url 'ratingbase:userDetail' rating.rater.rater_id %}'>{{rating.rater}}</a></td>
        <td headers="c2">{{rating.rating}}</td>
    </tr>

{% endfor %}

</table>
{% endblock %}
