{% extends "ratingbase/base.html" %}

{% block content %}

<h2>{{movie}}</h2>
<p>Average rating: {{movie.avg_rating}}</p>

{% if user.is_authenticated %}

<p>user is authenticated</p>

{% endif %}


<table>
    <tr>
        <th id="c1">User ID</th>
        <th id="c2">Rating</th>
    </tr>

{% for rating in movie_ratings %}
    <tr>
        <td headers="c1"><a href='{% url 'ratingbase:userDetail' rating.rater.rater_id %}'>{{rating.rater}}</a></td>
        <td headers="c2">{{rating.rating}}</td>
    </tr>

{% endfor %}

</table>
{% endblock %}
