{% extends "ratingbase/base.html" %}

{% block content %}

<h2>{{movie}}</h2>
<p>Average rating: {{movie.avg_rating}}</p>

{% if user.is_authenticated %}

<p>user is authenticated</p>
<h4>Rate this movie:</h4>
    <form id="user_form" method="post" action="">

    {% csrf_token %}

    <!-- Display each form. The as_p method wraps each element in a paragraph
         (<p>) element. This ensures each element appears on a new line,
         making everything look neater. -->
    {{ rating_form.as_p }}

    <!-- Provide a button to click to submit the form. -->
    <input type="submit" name="submit" value="Submit" />

{% endif %}


<table>
    <tr>
        <th id="c1">User ID</th>
        <th id="c2">Rating</th>
    </tr>

{% for rating in movie_ratings %}
    <tr>
        <td headers="c1"><a href='{% url 'ratingbase:userDetail' rating.rater.rater_id %}'>{{rating.rater}}</a></td>
        <td headers="c2">{{rating.rating}}</td>
    </tr>

{% endfor %}

</table>
{% endblock %}
